<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ecommerce Test Suite">
    <test name="Functional Tests">
        <classes>
            <class name="tests.ProductsSearchTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.PurchaseTest"/>
        </classes>
    </test>
</suite>
